body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; }

.home .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #03c03c; }
  .home .header .head-title {
    font-size: 22px; }

.home .content {
  display: flex;
  justify-content: center;
  padding: 0 18px 18px 18px; }
  .home .content .all-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .home .content .all-courses .course-prompt {
      padding: 10px; }
    .home .content .all-courses .course-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 22px; }
      .home .content .all-courses .course-cont .course {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #a3a3a3;
        border-radius: 5px;
        overflow: hidden; }
        .home .content .all-courses .course-cont .course .course-name {
          font-size: 20px;
          padding: 5px 0; }
        .home .content .all-courses .course-cont .course .course-image {
          width: 260px; }
      .home .content .all-courses .course-cont .course-options {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        display: none; }
        .home .content .all-courses .course-cont .course-options .empty-select-alert {
          display: none;
          font-size: 15px; }
          .home .content .all-courses .course-cont .course-options .empty-select-alert .alert {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
        .home .content .all-courses .course-cont .course-options .tee-type-select {
          text-transform: capitalize;
          margin-bottom: 7px; }
        .home .content .all-courses .course-cont .course-options .num-players-select {
          width: 100%;
          margin-bottom: 15px; }
        .home .content .all-courses .course-cont .course-options .build-card-btn {
          width: 100%; }
  .home .content .scorecard {
    display: flex;
    margin-top: 20px; }
    .home .content .scorecard .col-item {
      padding: 10px;
      height: 50px;
      width: 50px;
      border: 1px solid black;
      text-align: center; }
    .home .content .scorecard .row-title {
      font-weight: 700;
      text-align: left;
      width: 190px; }
    .home .content .scorecard .tee-title {
      text-transform: capitalize; }
