@import "_global";

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.home {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        background-color: #03c03c;

        .head-title {
            font-size: 22px;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;

        .scorecard-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1373px;

            .add-player-btn {
                font-size: 15px;
            }
            .end-message {

                .end-msg-text {
                    padding: 5px 15px;
                    border-radius: 5px;
                }
                .bad-msg {
                    background-color: #dc3545;
                }
                .good-msg {
                    background-color: #28a745;
                }
                .neutral-msg {
                    background-color: #ffc107;
                }
            }
        }
        
        .card-cont {
            display: flex;
            justify-content: center;
            padding: 0px 18px 18px 18px;
        }

        .all-courses {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .course-prompt {
                padding: 10px;
            }
            .course-cont {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 22px;

                .course {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $light-grey;
                    border-radius: 5px;
                    overflow: hidden;
        
                    .course-name {
                        font-size: 20px;
                        padding: 5px 0;
                    }
                    .course-image {
                        width: 260px;
                    }
                }
                .course-options {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
                    display: none;

                    .empty-select-alert{
                        display: none;
                        font-size: 15px;

                        .alert {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }  
                    .tee-type-select{
                        text-transform: capitalize;
                        margin-bottom: 7px;

                    }
                    .num-players-select {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    .build-card-btn {
                        width: 100%;
                    }
                }
            }
            
        }

        .scorecard{
            display: flex;
            margin-top: 20px;
            font-size: 15px;
            border: 1px solid $black;

            .col-item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px;
                height: 53px;
                width: 53px;
                border: 1px solid $black;
            }
            .row-title {
                display: flex;
                justify-content: flex-start;
                font-weight: 900;
                width: 188px;
            }
            .player-name {
                font-weight: 700;
            }
            .tee-title {
                text-transform: capitalize;
            }
            .name-input {
                width: 188px;
            }
            .out-col .col-item {
                width: 68px;
            }
            .in-col .col-item {
                width: 68px;
            }
            .initials-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 159px;
                font-size: 12px;
                font-weight: bold;
                border: 1px solid $black;
                width: 40px;
            }
            .initials-cont {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .initials-input, .initials-empty {
                text-align: center;
                width: 40px;
                height: 53px;
                border: 1px solid $black;
                padding: 7px;
            }
            .score-input {
                text-align: center;
            }
            .par {
                background-color: #e1ad01;
            }
            .pro {
                background-color: #443C30;
                // background-color: #696c7d;
            }
            .champion {
                background-color: #6e869e;
            }
            .men {
                background-color: #ffffff;
                // background-color: #38acff;
            }
            .women {
                background-color: #ff0000;
                // background-color: #844fff;
            }
        }
    }  
}