@import "_global";

body {
    margin: 0;
    padding: 0;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Public Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.home {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: #03c03c;

        .head-title {
            font-size: 22px;
        }
    }
    .content {
        display: flex;
        justify-content: center;
        padding: 0 18px 18px 18px;

        .all-courses {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .course-prompt {
                padding: 10px;
            }
            .course-cont {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 22px;

                .course {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $light-grey;
                    border-radius: 5px;
                    overflow: hidden;
        
                    .course-name {
                        font-size: 20px;
                        padding: 5px 0;
                    }
                    .course-image {
                        width: 260px;
                    }
                }
                .course-options {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
                    display: none;

                    .empty-select-alert{
                        display: none;
                        font-size: 15px;

                        .alert {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }  
                    .tee-type-select{
                        text-transform: capitalize;
                        margin-bottom: 7px;
                        // background-color: red;

                    }
                    .num-players-select {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    .build-card-btn {
                        width: 100%;
                    }
                }
            }
            
        }

        .scorecard{
            display: flex;
            margin-top: 20px;

            .col-item {
                padding: 10px;
                height: 50px;
                width: 50px;
                border: 1px solid black;
                text-align: center;
            }
            .row-title {
                font-weight: 700;
                text-align: left;
                width: 190px;
            }
            .tee-title {
                text-transform: capitalize;
            }

        }
    }  
}